ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
   
    <!DOCTYPE html>
    <html>
    <head>
    <style>
    body  {
      background-color: #fff0f5;
    }
    </style>
    </head>
    <body>

</style>
</head>